/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/public/assets/css/variable.css
/public/assets/images/images/sheep.svg
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mail.tolongmenolong.id
logs/*
public_html
lscache
.DS_Store
resources/views/themes/*
themes/*
database/seeds/ProjecCategoriesSeeder.php
database/seeds/ProjectSeeder.php
