.screen {
    padding-bottom: 40px;
}

@media screen and (min-width: 414px){
	.main-width{
	  max-width: 414px;
	}
	.max-width{
	  width: 100%;
	}
	.nav-sa-link{
	position: absolute; 
	width: 261px;
	height: 22px;
	left: 600px;
	top: 26px;
  
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
  
	color: #FFFFFF;
  } 
}

@media screen and (max-width: 600px){
	.main-width{
	  max-width: 414px;
	}
  }
  .max-width{
	width: 100%;
  }
  .bg-primary{
	background: var(--primary) !important;
  }
  .bg-light{
	background: var(--background) !important;
  }
  .navbar {
	position: fixed;
	min-height: 75px;
	left: 0px;
	top: 0px;
	background: var(--primary);
	
	margin: 0px auto;
	height: 75px;
	width: 100%;
	max-width: 100%;
	z-index: 1000;
  }

.col-12{
	margin-top: 0px;
}
.rounded h5{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;

	color: #363636;
}
.main-section{
	padding: 17px 25px;
}
.program-title{
	overflow: hidden;
	text-overflow: ellipsis;
}
.progress{
	height: 0.5rem;
}
.article .card{
	width: 266px;
	height: 94px;
	border-style: none;
	border-radius: 13px;
}
.article .date{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	letter-spacing: -0.015em;
	color: #C7C7C7;
}
.article .description{
	margin-bottom: 7px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #363636;	
}
.btn-outline-primary{
	width: 97px;
	height: 45px;
	border: var(--primary) !important;
	border-radius: 10px;
	color: var(--primary)!important;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* identical to box height */
}
  .main-slider .slick-dots{
	bottom: -25px !important;
  }
  .main-slider .slick-dots li{
	background: var(--grey);
	width: 9px !important;
	height: 9px !important;
	border-radius: 25px;
  }
  .main-slider .slick-dots li button{
	display: none;
  }
  .main-slider .slick-dots li button:before{
	display: none;
  }
  .main-slider .slick-dots li.slick-active{
	width: 9px !important;
	background: var(--primary) !important;
  }
  .main-slider.slick-dotted.slick-slider{
	margin-bottom: 0 !important;
  }
  .main-slider img{
	border-radius: 15px;
	width: 240px;
	height: 130px;
  }
  .main-slider .slick-active { 
	transform: scale(1.1) !important
  }
  .main-slider .slick-slide {
	transform: scale(0.9)
  }		

.nominal {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	letter-spacing: -0.015em;

	color: #363636;
}
.nominal-blue{
	font-family: Inter;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.015em;

	color: var(--primary);
}
.show-all a{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	color: var(--primary);
}
.view .btn {
	width: 158px;
	height: 45px;
	left: 128px;
	top: 1704px;
	border: none;
	background: var(--trans-primary);
	border-radius: 10px;
}
.view a {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding-top: 14px;
	color:var(--primary)
}
.view .btn:hover{
	width: 158px;
	height: 45px;
	left: 128px;
	top: 1704px;
	border: none;
	background: var(--primary);
	border-radius: 10px;
}
.view a:hover {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding-top: 14px;
	color:white
}

a img{
	border-radius: 6px;
}

#infinity-symbol{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;

	margin-top: 5px;
	letter-spacing: -0.015em;
}

#section {
    width: 100%;
    position: relative;
    background-color: #fff;
}
#section .swiper-slide {
    width: 80%;
}
#section .swiper-slide img {
    height: 155px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
#section .swiper-slide-active img {
    height: 178px !important;
}
#section .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: #C4C4C4;
    opacity: 1;
}
#section .swiper-pagination-bullet-active {
    background-color: #E0E0E0;
}

/*.btn-primary:hover, .btn-outline-primary:hover{
 background: var(--primary-color) !important;
 border-color: var(--primary-color) !important; 
}
.btn-outline-primary{
  color: var(--primary);
  border-color: var(--primary) !important;
  border-radius: 10px;  
}*/